{
  "openapi": "3.0.0",
  "info": {
    "title": "Sophos Central APIs",
    "version": "1.0.0",
    "description": "Autogenerato dalla raccolta Postman"
  },
  "servers": [
    {
      "url": "https://id.sophos.com"
    },
    {
      "url": "https://api.central.sophos.com"
    },
    {
      "url": "https://api-{dataRegion}.central.sophos.com",
      "variables": {
        "dataRegion": {
          "default": "us01",
          "description": "Regione dei dati, es: us01, eu01, ..."
        }
      }
    }
  ],
  "paths": {
    "/api/v2/oauth2/token": {
      "post": {
        "summary": "Refresh token",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "client_id": "{{client_id}}",
                "client_secret": "{{client_secret}}",
                "grant_type": "refresh_token",
                "refresh_token": "{{refresh_token}}"
              }
            }
          }
        },
        "operationId": "postRefreshToken"
      }
    },
    "/whoami/v1": {
      "get": {
        "summary": "Who am I?",
        "description": "Returns information about the caller.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getWhoAmI?"
      }
    },
    "/health-check": {
      "get": {
        "summary": "Account Health",
        "description": "Get health.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getAccountHealth"
      }
    },
    "/snooze": {
      "post": {
        "summary": "Snooze",
        "description": "Snooze reminders for account health issues for a customer.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "endpoint": {
                  "policy": {
                    "computer": [
                      {
                        "snoozed": true,
                        "policyType": "do",
                        "snoozeDetail": {
                          "comment": "elit commodo occaecat in"
                        }
                      },
                      {
                        "snoozed": true,
                        "policyType": "aliquip elit in",
                        "snoozeDetail": {
                          "comment": "commodo eiusmod sit exercitation"
                        }
                      }
                    ],
                    "server": [
                      {
                        "snoozed": true,
                        "policyType": "anim deserunt consequat quis",
                        "snoozeDetail": {
                          "comment": "fugiat sed laboris dolore"
                        }
                      },
                      {
                        "snoozed": true,
                        "policyType": "sint Ut ut minim",
                        "snoozeDetail": {
                          "comment": "amet"
                        }
                      }
                    ]
                  },
                  "exclusions": {
                    "policy": {
                      "computer": [
                        {
                          "snoozed": true,
                          "policyType": "nisi minim ut ipsum",
                          "snoozeDetail": {
                            "comment": "incididunt consequat"
                          },
                          "exclusions": [
                            {
                              "id": "urn:uuid:83d563f9-465f-7d1a-6a97-b699cf443d0e",
                              "snoozeComment": "id dolore Duis laboris"
                            },
                            {
                              "id": "urn:uuid:24fbe22c-63dc-7b9a-792c-f31fec8f6d01",
                              "snoozeComment": "officia in veniam in"
                            }
                          ]
                        },
                        {
                          "snoozed": true,
                          "policyType": "reprehenderit in Lorem",
                          "snoozeDetail": {
                            "comment": "dolor exercitation cupidatat Ut"
                          },
                          "exclusions": [
                            {
                              "id": "urn:uuid:53be2226-96cd-73fa-384f-d0c085c51e08",
                              "snoozeComment": "minim enim ea nulla culpa"
                            },
                            {
                              "id": "29c7c551-0e33-7941-ef93-5f72632888bd",
                              "snoozeComment": "ullamco velit ipsum"
                            }
                          ]
                        }
                      ],
                      "server": [
                        {
                          "snoozed": false,
                          "policyType": "est sint",
                          "snoozeDetail": {
                            "comment": "non in id"
                          },
                          "exclusions": [
                            {
                              "id": "41458189-162c-136d-4dfc-9b4f259bc205",
                              "snoozeComment": "et do occaecat adipisicing"
                            },
                            {
                              "id": "urn:uuid:b7cc2d7f-3f25-e401-aefc-834c7edf79a7",
                              "snoozeComment": "aliquip Lorem irure"
                            }
                          ]
                        },
                        {
                          "snoozed": false,
                          "policyType": "amet dolore eiusmod",
                          "snoozeDetail": {
                            "comment": "incididunt elit quis"
                          },
                          "exclusions": [
                            {
                              "id": "urn:uuid:c9b12639-a808-6a4f-74e3-2767fc17965d",
                              "snoozeComment": "occaecat"
                            },
                            {
                              "id": "urn:uuid:e0673041-066a-f3f8-05e8-1021d82f9977",
                              "snoozeComment": "est"
                            }
                          ]
                        }
                      ]
                    },
                    "global": {
                      "snoozed": false,
                      "snoozeDetail": {
                        "comment": "id labore commodo"
                      }
                    }
                  },
                  "tamperProtection": {
                    "computer": {
                      "snoozed": false,
                      "snoozeDetail": {
                        "comment": "proident dolore laborum"
                      }
                    },
                    "server": {
                      "snoozed": false,
                      "snoozeDetail": {
                        "comment": "magna Lorem nostrud sunt ipsum"
                      }
                    },
                    "global": {
                      "snoozed": true,
                      "snoozeDetail": {
                        "comment": "ad anim nisi"
                      }
                    }
                  },
                  "protection": {
                    "computer": {
                      "snoozed": false,
                      "snoozeDetail": {
                        "comment": "aute ut quis velit"
                      }
                    },
                    "server": {
                      "snoozed": false,
                      "snoozeDetail": {
                        "comment": "ullamco consequat deserunt do cupidatat"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postSnooze"
      }
    },
    "/scores/regional": {
      "get": {
        "summary": "Score comparisons",
        "description": "Get health score for comparison to other organizations in your region.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getScoreComparisons"
      }
    },
    "/scores/historical": {
      "get": {
        "summary": "Historical Score",
        "description": "Get historical health scores.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getHistoricalScore"
      }
    },
    "/access-tokens": {
      "get": {
        "summary": "Get tokens",
        "description": "Get all access tokens for a tenant.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetTokens"
      },
      "post": {
        "summary": "Create token",
        "description": "Create access token for a tenant.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "label": "Test Token",
                "type": "sls",
                "expiresAt": "2021-04-29T15:32:28.482Z"
              }
            }
          }
        },
        "operationId": "postCreateToken"
      }
    },
    "/access-tokens/:tokenId": {
      "delete": {
        "summary": "Revoke token",
        "description": "Revoke access token for a tenant.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteRevokeToken"
      },
      "patch": {
        "summary": "Update token",
        "description": "Update access token for a tenant.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "label": "Test Token",
                "expiresAt": "2021-04-29T15:32:28.482Z"
              }
            }
          }
        },
        "operationId": "patchUpdateToken"
      }
    },
    "/cases": {
      "get": {
        "summary": "Get cases",
        "description": "Search a specific customer's cases.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetCases"
      },
      "post": {
        "summary": "Create case",
        "description": "Create a new case.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "l+",
                "type": "hunt",
                "managedBy": "sophos",
                "severity": "high",
                "status": "investigating",
                "assignee": "mollit culpa occaecat id",
                "initialDetectionId": "2e0cdd5ffec_3bad8fb8f",
                "otherDetectionIds": [
                  "2e0cdd5ffec_3bad8fb8f"
                ],
                "overview": "qui aliquip dolore"
              }
            }
          }
        },
        "operationId": "postCreateCase"
      }
    },
    "/cases/:caseId": {
      "get": {
        "summary": "Get case",
        "description": "Get a case by ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetCase"
      },
      "patch": {
        "summary": "Update case",
        "description": "Update a case.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "}{9p\":",
                "type": "managedRisk",
                "severity": "high",
                "status": "actionRequired",
                "assignee": "dolor reprehenderit tempor ",
                "overview": "incididunt"
              }
            }
          }
        },
        "operationId": "patchUpdateCase"
      },
      "delete": {
        "summary": "Delete case",
        "description": "Delete a case.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteDeleteCase"
      }
    },
    "/cases/:caseId/impacted-entities": {
      "get": {
        "summary": "Get entities",
        "description": "Get impacted entities for an XDR case.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetEntities"
      }
    },
    "/cases/:caseId/detections": {
      "get": {
        "summary": "Get detections",
        "description": "Get all case detections.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetDetections"
      }
    },
    "/cases/:caseId/mitre-attack-summary": {
      "get": {
        "summary": "Get TTPs",
        "description": "Get summary of MITRE ATT&CK Tactics and Techniques.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetTtps"
      }
    },
    "/cases/:caseId/detections/:detectionId": {
      "get": {
        "summary": "Get detection",
        "description": "Get a detection associated with case.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetDetection"
      }
    },
    "/profiles": {
      "get": {
        "summary": "List profiles",
        "description": "List runtime detection profiles (Latest version).",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getListProfiles"
      },
      "delete": {
        "summary": "Delete profiles",
        "description": "Delete profiles with provided IDs.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteDeleteProfiles"
      },
      "post": {
        "summary": "Create profile",
        "description": "Create runtime detection profile or new version of existing profile.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "contentVersion": "6.4.8",
                "settings": {
                  "rules": [
                    {
                      "name": "Bootloader must be configured",
                      "enabled": false
                    },
                    {
                      "name": "Bootloader must be configured",
                      "enabled": false
                    }
                  ],
                  "lists": [
                    {
                      "name": "Boot_Files_Modified-programName-allowList",
                      "operations": [
                        {
                          "behavior": "remove",
                          "list": [
                            "Duis",
                            "non labore dolore"
                          ]
                        },
                        {
                          "behavior": "add",
                          "list": [
                            "culpa sed ea velit enim",
                            "ullamco deserunt"
                          ]
                        }
                      ]
                    },
                    {
                      "name": "Boot_Files_Modified-programName-allowList",
                      "operations": [
                        {
                          "behavior": "add",
                          "list": [
                            "sint enim aute",
                            "deserunt sunt"
                          ]
                        },
                        {
                          "behavior": "remove",
                          "list": [
                            "fugiat et laboris labore",
                            "Duis"
                          ]
                        }
                      ]
                    }
                  ]
                },
                "name": "Profile name",
                "profileDescription": "RTD Profile1 is configured for prod deployments.",
                "profileId": "7b2d94de-2f89-4433-9901-c65d31195899"
              }
            }
          }
        },
        "operationId": "postCreateProfile"
      }
    },
    "/profiles/:profileId": {
      "get": {
        "summary": "Get profile",
        "description": "Get runtime detection profile details.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetProfile"
      },
      "put": {
        "summary": "Update profile name",
        "description": "Update the name of a runtime detection profile.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "putUpdateProfileName"
      }
    },
    "/profiles/default-contents": {
      "get": {
        "summary": "List content",
        "description": "List available default contents.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getListContent"
      }
    },
    "/alerts": {
      "get": {
        "summary": "Get alerts",
        "description": "Get alert with timestamps within last 24 hours.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) The tenant ID. Required when using Bearer Token based authentication."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetAlerts"
      }
    },
    "/alerts/search": {
      "post": {
        "summary": "Query alerts (POST)",
        "description": "Get alerts matching request.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "category": [
                  "malware",
                  "mobiles",
                  "policy",
                  "protection"
                ],
                "fields": [
                  "severity",
                  "groupKey",
                  "allowedActions"
                ],
                "from": "2021-02-12T10:00:00.000Z",
                "groupKey": "MSxFdmVudDo6RW5kcG9pbnQ6Ok91dE9mRGF0ZSw1MTMs",
                "ids": [
                  "533a799a-9914-4a6f-ae4c-45cb36fa3672",
                  "8c26a3db-9a72-45be-8bfa-1e032209a50b",
                  "6289af43-ba34-4b59-b3de-23c90fbe9080"
                ],
                "pageFromKey": "2000818931339",
                "pageSize": 50,
                "pageTotal": true,
                "product": [
                  "mobile",
                  "wireless",
                  "endpoint"
                ],
                "severity": [
                  "high",
                  "medium"
                ],
                "sort": [
                  "raisedAt:desc"
                ],
                "to": "2021-02-13T10:00:00.000Z"
              }
            }
          }
        },
        "operationId": "postQueryAlerts(Post)"
      }
    },
    "/alerts/:alertId": {
      "get": {
        "summary": "Get alert details",
        "description": "Get details of a specific alert.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetAlertDetails"
      }
    },
    "/alerts/:alertId/actions": {
      "post": {
        "summary": "Act on alert",
        "description": "Take an action on a specific alert.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "action": "cleanPua",
                "message": "Remove WinExeSvc"
              }
            }
          }
        },
        "operationId": "postActOnAlert"
      }
    },
    "/directory/users": {
      "get": {
        "summary": "Query users",
        "description": "List users in the directory.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getQueryUsers"
      },
      "post": {
        "summary": "Add new user",
        "description": "Add a new user to the directory.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "John Doe",
                "firstName": "John",
                "lastName": "Doe",
                "email": "jonhdoe@example.com",
                "exchangeLogin": "exchangeLogin",
                "groupIds": [
                  "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                ]
              }
            }
          }
        },
        "operationId": "postAddNewUser"
      }
    },
    "/directory/users/:userId": {
      "get": {
        "summary": "Get user",
        "description": "Get a user by ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetUser"
      },
      "delete": {
        "summary": "Delete user",
        "description": "Delete a user by ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteDeleteUser"
      },
      "patch": {
        "summary": "Update user",
        "description": "Update an existing user.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "John Doe",
                "firstName": "John",
                "lastName": "Doe",
                "email": "jonhdoe@example.com",
                "exchangeLogin": "exchangeLogin"
              }
            }
          }
        },
        "operationId": "patchUpdateUser"
      }
    },
    "/directory/user-groups": {
      "get": {
        "summary": "Query groups",
        "description": "List groups in the directory.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getQueryGroups"
      },
      "post": {
        "summary": "Add new group",
        "description": "Add a new group to the directory.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Sophos Central Group",
                "description": "Security group for Sophos Central admins",
                "userIds": [
                  "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                ]
              }
            }
          }
        },
        "operationId": "postAddNewGroup"
      }
    },
    "/directory/user-groups/:groupId": {
      "get": {
        "summary": "Get group",
        "description": "Get group by ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetGroup"
      },
      "delete": {
        "summary": "Delete group",
        "description": "Deletes the specified group.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteDeleteGroup"
      },
      "patch": {
        "summary": "Update group",
        "description": "Update a group.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "Sophos Central Group",
                "description": "Security group for Sophos Central admins"
              }
            }
          }
        },
        "operationId": "patchUpdateGroup"
      }
    },
    "/directory/users/:userId/groups": {
      "get": {
        "summary": "Groups of user",
        "description": "List groups that a user belongs to.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGroupsOfUser"
      },
      "post": {
        "summary": "Add to groups",
        "description": "Add a user to multiple groups.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "ids": [
                  "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                ]
              }
            }
          }
        },
        "operationId": "postAddToGroups"
      },
      "delete": {
        "summary": "Remove from groups",
        "description": "Remove a user from multiple groups.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteRemoveFromGroups"
      }
    },
    "/directory/user-groups/:groupId/users": {
      "get": {
        "summary": "Users in group",
        "description": "List users in the specified group.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getUsersInGroup"
      },
      "post": {
        "summary": "Add to group",
        "description": "Add multiple users to the specified group.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "ids": [
                  "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                ]
              }
            }
          }
        },
        "operationId": "postAddToGroup"
      },
      "delete": {
        "summary": "Remove from group",
        "description": "Remove multiple users from a group.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteRemoveFromGroup"
      }
    },
    "/directory/users/:userId/groups/:groupId": {
      "delete": {
        "summary": "Remove from group",
        "description": "Remove user from a group.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteRemoveFromGroup_directory_users__userId_groups__groupId"
      }
    },
    "/directory/user-groups/:groupId/users/:userId": {
      "delete": {
        "summary": "Remove from group",
        "description": "Update a group to remove a user.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteRemoveFromGroup_directory_user_groups__groupId_users__userId"
      }
    },
    "/roles": {
      "get": {
        "summary": "List all roles",
        "description": "List all partner roles.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getListAllRoles"
      },
      "post": {
        "summary": "Create new role",
        "description": "Create a new partner role.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "commodo conseq",
                "permissionSets": [
                  "ex velit"
                ],
                "principalType": "user",
                "description": "amet voluptate"
              }
            }
          }
        },
        "operationId": "postCreateNewRole"
      }
    },
    "/roles/:roleId": {
      "get": {
        "summary": "Get role by ID",
        "description": "Get partner role by ID.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetRoleById"
      },
      "delete": {
        "summary": "Delete role by ID",
        "description": "Delete a partner role by ID.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteDeleteRoleById"
      },
      "patch": {
        "summary": "Patch role",
        "description": "Patch an existing partner role.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "mollit",
                "description": "Duis esse",
                "permissionSets": [
                  "aliqua officia cillum"
                ]
              }
            }
          }
        },
        "operationId": "patchPatchRole"
      }
    },
    "/roles/permission-sets": {
      "get": {
        "summary": "Get permission sets",
        "description": "Get permission set details.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetPermissionSets"
      }
    },
    "/admins": {
      "get": {
        "summary": "List all admins",
        "description": "List all partner admins.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getListAllAdmins"
      },
      "post": {
        "summary": "Create new admin",
        "description": "Create a new partner administrator.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "username": "lriegvL9V@WFxyGtc.mzkf",
                "profile": {
                  "firstName": "aliqua deserunt",
                  "lastName": "in deser",
                  "name": "mollit",
                  "phone": "cillum cupidatat et est",
                  "mobile": "magna anim esse",
                  "fax": "anim"
                },
                "roleAssignments": [
                  {
                    "roleId": "urn:uuid:cc20f967-ffe2-d363-7bda-aede15833db0",
                    "scope": {
                      "type": "allManagedTenants",
                      "id": "84288cb2-e1ea-0d29-085d-0ec6b568e2ee"
                    }
                  },
                  {
                    "roleId": "31241ffd-e361-bd34-40d1-568427d6651c",
                    "scope": {
                      "type": "allManagedTenants",
                      "id": "9361e67a-6530-86a3-7dd6-1f53d12354fc"
                    }
                  }
                ]
              }
            }
          }
        },
        "operationId": "postCreateNewAdmin"
      }
    },
    "/admins/:adminId": {
      "get": {
        "summary": "Get admin by ID",
        "description": "Get partner administrator details by ID.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetAdminById"
      },
      "delete": {
        "summary": "Remove an admin",
        "description": "Remove an admin by ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteRemoveAnAdmin"
      }
    },
    "/admins/:adminId/role-assignments": {
      "get": {
        "summary": "List all roles",
        "description": "Get the list of role assignments for given admin.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getListAllRoles_admins__adminId_role_assignments"
      },
      "post": {
        "summary": "Assign a role",
        "description": "Assign a role to a partner administrator.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "roleId": "f91bdc7d-05c5-4165-85d8-f2e6b0bf68e6",
                "scope": {
                  "type": "self",
                  "id": "urn:uuid:34f5c095-007d-ce75-721b-e832afac6363"
                }
              }
            }
          }
        },
        "operationId": "postAssignARole"
      }
    },
    "/admins/:adminId/role-assignments/:assignmentId": {
      "get": {
        "summary": "Get role by ID",
        "description": "Get partner administrator role assignment by ID.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetRoleById_admins__adminId_role_assignments__assignmentId"
      },
      "delete": {
        "summary": "Remove a role",
        "description": "Remove role assignment from an admin.",
        "parameters": [
          {
            "name": "X-Partner-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Partner ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteRemoveARole"
      }
    },
    "/queries/detections": {
      "post": {
        "summary": "Run detections query",
        "description": "Run a query on the detections. The default time range is one day.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "detectionRule": "MS-SEC-GRAPH-open",
                "severity": [
                  7,
                  8,
                  9,
                  10
                ],
                "sort": [
                  {
                    "field": "severity",
                    "direction": "asc"
                  }
                ],
                "from": "2021-11-10T12:23:54.780",
                "to": "2021-11-17T12:23:54.780"
              }
            }
          }
        },
        "operationId": "postRunDetectionsQuery"
      }
    },
    "/queries/detections/:runId": {
      "get": {
        "summary": "Get detections run",
        "description": "Return the detections query run with the given ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetDetectionsRun"
      }
    },
    "/queries/detections/:runId/results": {
      "get": {
        "summary": "Get detection result",
        "description": "Return the results of the detections query run with the given ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetDetectionResult"
      }
    },
    "/queries/detections/counts": {
      "get": {
        "summary": "Get detection counts",
        "description": "Get detection counts grouped by severity and type. If `resolution`, `to`, and `from` parameters aren't provided, `resolution` is set to day, `to` is set to current date, and `from` is set to 30 days from the current date and time.  If `from` and `to` aren't provided, `to` is set to the current date and time. If `resolution` is day, hour, or minute, `from` is set to 30 days ago, 1 day ago, or 1 hour ago respectively. If `from` and `to` are provided, but `resolution` isn't, `resolution` is set based on internal calculation.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetDetectionCounts"
      }
    },
    "/queries/detection-groups": {
      "post": {
        "summary": "Run a groups query",
        "description": "Run a detection groups query.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "detectionRule": "MS-SEC-GRAPH-open",
                "severity": [
                  7,
                  8,
                  9,
                  10
                ],
                "sort": [
                  {
                    "field": "severity",
                    "direction": "asc"
                  }
                ],
                "from": "2021-11-10T12:23:54.780",
                "to": "2021-11-17T12:23:54.780"
              }
            }
          }
        },
        "operationId": "postRunAGroupsQuery"
      }
    },
    "/queries/detection-groups/:runId": {
      "get": {
        "summary": "Get group run",
        "description": "Return the group query run with the given ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetGroupRun"
      }
    },
    "/queries/detection-groups/:runId/results": {
      "get": {
        "summary": "Get group results",
        "description": "Return the results of the group query run with the given ID.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetGroupResults"
      }
    },
    "/messages/:id/clawback": {
      "post": {
        "summary": "Clawback message",
        "description": "Clawback message (can clawback message for specific recipients).",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "recipients": [
                  "user_bob@sophos.com",
                  "user_bob@sophos.com"
                ]
              }
            }
          }
        },
        "operationId": "postClawbackMessage"
      }
    },
    "/messages/:id/status": {
      "get": {
        "summary": "Message status",
        "description": "Get current status of a message.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getMessageStatus"
      }
    },
    "/mailboxes": {
      "get": {
        "summary": "Query Mailboxes",
        "description": "List all mailboxes or search mailboxes based on query parameter.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getQueryMailboxes"
      },
      "post": {
        "summary": "Add mailbox",
        "description": "Add a new mailbox.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "type": "user",
                "email": "o5U@Kssmqf.hpl",
                "name": "dolore sint"
              }
            }
          }
        },
        "operationId": "postAddMailbox"
      }
    },
    "/mailboxes/bulk": {
      "post": {
        "summary": "Add mailboxes",
        "description": "Request to add multiple mailboxes.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "items": [
                  {
                    "type": "user",
                    "email": "9WJlVTmlZQwns@IZOiIfHBfKtAzmURVqOiGbPFcAhFsI.oqzc",
                    "name": "quis"
                  },
                  {
                    "type": "user",
                    "email": "9LdRdcnj6wE@blntvmpeuX.bje",
                    "name": "eiusmod enim consectetur"
                  }
                ]
              }
            }
          }
        },
        "operationId": "postAddMailboxes"
      }
    },
    "/mailboxes/delete": {
      "post": {
        "summary": "Delete mailboxes",
        "description": "Delete multiple mailboxes.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "items": [
                  {
                    "id": "urn:uuid:b98ee14a-dd17-ab8d-8e4c-4832434d8101"
                  },
                  {
                    "id": "urn:uuid:1b9cd1e5-4a4c-1660-5c6b-bbb80e4ab46b"
                  }
                ]
              }
            }
          }
        },
        "operationId": "postDeleteMailboxes"
      }
    },
    "/mailboxes/:id": {
      "get": {
        "summary": "Get mailbox",
        "description": "Get information of the mailbox.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "getGetMailbox"
      },
      "patch": {
        "summary": "Update name",
        "description": "Update name of the mailbox.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "name": "exercitation"
              }
            }
          }
        },
        "operationId": "patchUpdateName"
      },
      "delete": {
        "summary": "Delete mailbox",
        "description": "Delete the mailbox.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "operationId": "deleteDeleteMailbox"
      }
    },
    "/mailboxes/:id/aliases": {
      "post": {
        "summary": "Change aliases",
        "description": "Add and remove aliases of the mailbox.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "add": [
                  "esse Lorem sit",
                  "dolor"
                ],
                "remove": [
                  "ipsum reprehenderit commodo sed",
                  "ea dolore elit adipisicing consequat"
                ]
              }
            }
          }
        },
        "operationId": "postChangeAliases"
      }
    },
    "/mailboxes/:id/delegates": {
      "post": {
        "summary": "Change delegates",
        "description": "Add and remove delegates of the mailbox.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "add": [
                  "consectetur incididunt tempor sint sunt",
                  "voluptate velit culpa "
                ],
                "remove": [
                  "incididunt dolor",
                  "tempor magna incididunt qui"
                ]
              }
            }
          }
        },
        "operationId": "postChangeDelegates"
      }
    },
    "/mailboxes/:id/distribution-list-owners": {
      "post": {
        "summary": "Change DL owners",
        "description": "Add and remove distribution list owners of the mailbox.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "add": [
                  "consectetur ea eu in"
                ],
                "remove": [
                  ""
                ]
              }
            }
          }
        },
        "operationId": "postChangeDlOwners"
      }
    },
    "/mailboxes/:id/bulksender-privilege-request": {
      "post": {
        "summary": "Bulk privilege",
        "description": "Generate request to get bulk sender privilege for the mailbox.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Richiesta completata con successo"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "count": 24980558,
                "period": "daily",
                "purpose": "voluptate ullamco amet deserunt pariatur"
              }
            }
          }
        },
        "operationId": "postBulkPrivilege"
      }
    },
    "/post-delivery-quarantine/messages/search": {
      "post": {
        "summary": "Search quarantine",
        "description": "Summary of all the post-delivery quarantined messages matching your search and filter conditions.",
        "parameters": [
          {
            "name": "X-Tenant-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "(Required) Tenant ID."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
[...]
